.header-top {
  background-color: #f2f2f2;
  line-height: 28px;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}
.slider_image {
  display: none;
}

.headertop-right li {
  float: left;
  background-image: url('../images/top-seperator.png');
  background-repeat: no-repeat;

  background-position: left;
  padding: 0 10px;
}
.headertop-right li:first-child {
  background-image: none;
}
.headertop-right li:last-child {
  padding-right: 4px;
}

.headertop-right ul {
  float: right;
}

.headertop-right li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.headertop-left {
  float: left;
  display: none;
  margin: 2px;
  width: 150px;
}

.headertop-left a:hover {
  text-decoration: underline;
}

.headertop-left span {
  padding: 2px 19px 0 7px;
}

.headertop-right {
  float: right;
}

.headertop-right img {
  width: 18px;
  height: 18px;
  margin: 2px 10px;
}

.headerbottom-left ul {
  display: none;
}

.hamburger-hidden {
  position: relative;
}
.hamburger-hidden img {
  width: 20px;
  height: 20px;
  margin: 10px 10px;
  float: left;
}

.ham {
  position: absolute;
  left: 10px;
  top: 30px;
  z-index: 200;
  width: 30%;
  display: none;
}

.ham > li {
  background-color: white;
  border-bottom: 1px solid black;
  padding: 8px 8px;
}
.shopia-logo {
  display: block;
  width: 50%;
  margin: 8px auto;
  text-align: center;
}

.headerbotttom-right {
  display: none;
}

.dropDown {
  position: relative;
}

.dropDown select {
  background-color: #000000;
  display: block;
  border: none;
  width: 100%;
  padding: 8px 0;
}

.dropDown img {
  position: absolute;
  right: 11px;
  top: 16px;
  height: 4px;
  width: 8px;
}

/*Body Starts here*/
.carousel-image {
  position: relative;
}

.carousel-image img {
  object-fit: cover;
  width: 100%;
}

.center {
  position: absolute;
  top: 20.575539%;
  right: 38.527131%;
  width: 18.958333%;
}

.sale {
  width: 100%;
  border: 2px solid white;
  margin: 0px auto;
}

.subsale {
  border: 1px solid white;
  width: 94.139194%;
  margin: 4px auto;
  padding: 4px 0px;
}

.sale-up {
  text-align: center;
  display: inline-block;
  position: relative;
  width: 100%;
}

.sale-up:before,
.sale-up:after {
  content: '';
  position: absolute;
  height: 5px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  bottom: 6px;
  width: 13.33%;
}

.sale-up:before {
  right: 60%;
  margin-right: 15px;
}

.sale-up:after {
  left: 60%;
  margin-left: 15px;
}

.btn-shopnow {
  margin: 7.5% 6.6%;
  width: 89%;
  left: 40%;
  display: block;
}

.btn-shop {
  background-color: #f09d66;
  border: none;
  width: 100%;
  cursor: pointer;
}

.btn-shop:hover {
  opacity: 0.8;
}

.section-two {
  margin: 30px 0;
}

.left,
.right,
.middle {
  padding: 10px 0;
  width: 100%;
}
.two div {
  width: 35px;
  height: 35px;
  padding: 0px 20px;
  float: left;
}

.two img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left,
.right {
  background-color: #d9bf8f;
}

.middle {
  background-color: #000000;
}
.section-three,
.section-handpicked,
.section-four,
.section-four-content,
.section-five,
.section-five-content {
  width: 100%;
}

.handpicked-large {
  width: 100%;
}
.handpicked-small {
  width: 100%;
}
.handpicked-first li,
.handpicked-third li {
  padding-bottom: 16px;
}

.section-title h2 {
  margin: 40px auto;
  display: block;
  width: 80%;
  position: relative;
}
h2.background span:before {
  background: url('../images/diamond.png') no-repeat;
  width: 20px;
  height: 20px;
  background-position: right;
  position: absolute;
  left: 5%;
  top: 30%;
  content: '';
  display: block;
}
.section-title:before {
  border-bottom: 1px solid white;
}
h2.background span:after {
  background: url('../images/diamond.png') no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  background-position: right;
  left: 83%;
  top: 30%;
  content: '';
  display: block;
}
.handpicked {
  width: 100%;
}

.section-handpicked li {
  position: relative;
}
.overlay {
  position: absolute;
  width: 89.141414%;
  top: 26px;
  bottom: 54px;
  left: 23px;
  z-index: 0;
  border: 3px solid white;
}
.handpicked-second {
  position: relative;
}

.image-text {
  position: absolute;
  left: 56px;
  top: 290px;
  width: 225px;
  z-index: 10;
}
.plus {
  position: absolute;
  z-index: 20;
  display: none;
  top: 32.123167%;
  left: 41.359773%;
  width: 58px;
  height: 62px;
}
.section-handpicked li:hover .overlay {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
}
.section-handpicked li:hover .overlay-btn {
  display: block;
}
.section-handpicked li:hover .plus {
  display: block;
}

.overlay-btn {
  position: absolute;
  display: none;
  width: 30.878187%;
  bottom: 22px;
  left: 36.050847%;
  background-color: #f09d66;
  border: none;
  line-height: 42px;
  z-index: 20;
}

.section-four-content img {
  width: 100%;
  margin: 5px 0;
}
.handpickedtwo {
  position: relative;
  z-index: 0;
}
.image-text {
  position: absolute;
  top: 30%;
  z-index: 10;
}
.image-wrapper {
  position: relative;
}
.overlay-images {
  position: absolute;
  width: 100%;
  top: 4px;
  left: 0;
  bottom: 8px;
  z-index: 0;
  cursor: pointer;
}
.product-button_cart {
  background-color: transparent;
  width: 66.225166%;
  left: 13.333333%;
  height: 44px;
  line-height: 44px;
  border: none;
  background-size: 100%;
  position: absolute;
  z-index: 10;
  bottom: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 44px solid black;
  color: white;
  cursor: pointer;
}

.image-wrapper:hover .overlay-images {
  background-color: rgba(0, 0, 0, 0.7);
}
.image-wrapper:hover .product-button_cart {
  border-bottom: 44px solid #f09d66;
}

.circle {
  position: absolute;
  top: 28px;
  left: 24px;
  background-color: #feab12;
  border-radius: 50%;
  width: 62px;
  height: 62px;
}

.handpicked-third li {
  position: relative;
}

.image-text-second {
  position: absolute;
  z-index: 10;
  top: 11.69%;
  left: 27.6056%;
  width: 50%;
  line-height: 32px;
}

.image-text-five {
  position: absolute;
  z-index: 10;
  top: 35.162095%;
  left: 36.658354%;
  width: 30%;
  line-height: 32px;
}

.section-five-content li {
  /* float:left; */
  margin: 20px 80px;
}
/* .section-five-content ul{
    margin-right:40px 50px;
} */
.section-six-content {
  background-color: #d9bf8f;
  width: 100%;
}
.section-six img {
  width: 160px;
  padding: 20px 0;
}
.six-content {
  width: 40%;
  float: right;
  padding: 50px 20px 0 0;
}

.six-content span {
  display: block;
}

.name {
  padding-top: 40px;
}

.footer {
  background-color: #141414;
}
.footer-list,
.footer-top-right {
  padding: 10px 0 10px 20px;
}

.footer-list li a:hover {
  color: white;
}
.icon {
  padding: 20px 0;
}
.icon img {
  padding: 0 12px 0 4px;
}
.icon img:hover {
  transform: scale(1.2);
}

.subscribe span {
  padding: 0 4px;
}
.subscribe-btn {
  margin-top: 56px;
  border: 1px solid #b4aca9;
  width: 84.741784%;
}
.subscribe-btn input {
  width: 60.003878%;
  background: transparent;
  border: none;
  padding: 0 8px 0 8px;
  color: #b4aca9;
  line-height: 40px;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}
.subscribe-btn input:focus {
  outline: 2px solid #b4aca9;
}

.subscribe-btn button {
  border: none;
  background-color: #484848;
  line-height: 33px;
  width: 27.977839%;
  margin: 3px;
}
.subscribe-btn button:hover {
  opacity: 0.5;
}
.copyright {
  padding: 27px 0 63px 0;
}
.payments-item {
  float: left;
  padding: 0 10px 0 10px;
}

.clearfix {
  overflow: auto;
  clear: both;
  content: '';
  display: table;
}

#scroll {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 99;
  width: 38px;
  height: 39px;
  border: none;
  background-image: url('../images/scrollUp.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #090909;
  cursor: pointer;
  border-radius: 4px;
}

#scroll:hover {
  opacity: 0.8;
}
