.wrapper {
  max-width: 80.625em;
}
/* Header starts here */
.header-top {
  line-height: 48px;
}

.headertop-right {
  width: 40.837209%;
}

.handpicked-third li {
  float: left;
  width: 100%;
}

.headerbottom-left ul {
  display: block;
}

.headertop-right img,
.headerbottom-left img {
  display: none;
}
.headerbottom-left {
  float: left;
  line-height: 128px;
  width: 35.658914%;
}
.headerbottom-left li a {
  float: left;
}
.headerbottom-left a {
  padding: 0 23px 0 5px;
}

.headerbottom-left a:hover {
  text-decoration: underline;
}

.bottom-right {
  width: 57.829457%;
  float: right;
}

.shopia-logo {
  width: 17.674419%;
}

.social-icon {
  width: 58.666667%;
  float: left;
  display: block;
}

.social-icon li {
  padding-left: 12px;
  float: left;
}

.social-icon li:hover {
  transform: scale(1.2);
}

.social-icon li:focus {
  transform: scale(2);
}
.dropDown {
  width: 27.272727%;
  margin: 3px 0 0 0;
}

.hamburger-hidden img {
  display: none;
}

.hamburger {
  position: relative;
}
.ham {
  position: absolute;
}
/* Body Starts Here*/

/* Section one */
.center {
  width: 273px;
  left: 13.627131%;
}
.bottom {
  bottom: 31px;
}

.bubble {
  margin: 0 4px;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-bottom-color: #b2b2b2;
  position: relative;
  top: -12px;
}

.bubble:after {
  content: '';
  position: absolute;
  left: -12px;
  top: 12px;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-top-color: #b2b2b2;
}
.active {
  border-bottom-color: black;
}
.active:after {
  border-top-color: black;
}

.subsale {
  width: 94.139194%;
}
.sale-black {
  padding: 11px 0 11px 0;
}
.sec.middle {
  display: block;
  position: relative;
}

.sale-off {
  display: block;
  padding: 24px 0 14px 0;
}

.sale-black {
  font-size: 64px;
}
.subsale {
  font-size: 22px;
  padding: 25px 0px;
}
.sale-off {
  font-size: 32px;
}
h2.background {
  position: relative;
  z-index: 1;
}
h2.background span:before {
  left: 35%;
  top: 43%;
}
h2.background span:after {
  left: 63%;
  top: 43%;
}
h2.background span {
  /* to hide the lines from behind the text, you have to set the background color the same as the container */
  background: #fff;
  padding: 0 11.662403%;
}

h2.background:before {
  border-top: 2px solid #dfdfdf;
  content: '';
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.btn-shop {
  line-height: 53px;
}
/* section-two */

.section-two {
  margin-top: 66px;
}

.sec.middle:before {
  background: url('../images/right-arrow.png') no-repeat;
  width: 72px;
  height: 100px;
  content: '';
  position: absolute;
  top: 0;
  left: -30px;
}

.sec.middle:after {
  background: url('../images/left-arrow.png') no-repeat;
  width: 71px;
  height: 100px;
  content: '';
  position: absolute;
  float: right;
  top: 0;
  right: -30px;
}
.name {
  font-size: 30px;
}
.six-content {
  font-size: 18px;
}

.btn-shop {
  font-size: 24px;
}

.section-title h2 {
  width: 100%;
}
.sec {
  width: 33.333333%;
  float: left;
  padding: 14px 0 24px 0;
}
.sec div {
  padding: 14px 0 0 31px;
}
.middle div {
  padding-left: 53px;
}
.right div {
  padding-left: 61px;
}
.sec li {
  padding: 6px 0 0 103px;
}
.middle li {
  padding-left: 118px;
}
.right li {
  padding-left: 142px;
}
.section-three {
  padding-top: 33px;
}
.section-title {
  line-height: 161px;
}

/*section-three*/

.handpicked-left {
  width: 67.751938%;
  float: left;
}

.overlay-btn {
  margin-top: 76px;
}

.handpicked-third {
  width: 30.930233%;
  float: right;
}

.handpicked-third li:last-child {
  padding-left: 0px;
}

.handpicked-large {
  height: 819px;
}

.handpicked-small {
  height: 400px;
}

.section-four-content {
  padding-top: 8px;
  border: 1px solid #eaeaea;
}

.collection-column li {
  width: 23.333333%;
  padding: 8px 9px;
}

.overlay-images {
  left: 8px;
  width: 94.42%;
}
/*section-five*/
.section-five-content li {
  padding: 0 30px;
  width: 11.782946%;
}

.section-five-content ul {
  padding: 70px 0 0 0;
}

.section-six {
  padding-top: 83px;
}

.six {
  width: 45.910853%;
}
.six img {
  width: 260px;
  padding: 37px 0;
}
.sright img {
  float:right;
}
.sleft {
  float: left;
}
.cright{
  text-align: right;
}
.sright {
  float: right;
}

.six-content {
  width: 50.25%;
  padding: 135px 0 0 8px;
}

.name {
  padding-top: 62px;
}
.profession {
  padding-top: 25px;
}
.subscribe {
  width: 100%;
}

.footer-top {
  width: 100%;
  padding-top: 70px;
}
.footer-list span {
  display: block;
  padding-bottom: 56px;
}
.footer-top-left {
  float: left;
  width: 53.488372%;
}
.footer-list {
  width: 33.333333%;
  padding: 0;
}
.footer-top-right {
  width: 33.023256%;
  float: right;
  padding: 0;
}
.subscribe-btn input {
  padding: 0 8px 0 22px;
}

.icon {
  padding: 50px 0;
}
